{% extends "setupAccount.html" %}
{% block title %}Change your password {% endblock%}

{% block mainContent %} 

<div class="SetupContainer">
  <div class="SetupCard">
      <div class="setup-card-content">
        
       
          <div class="SetupBack" style="margin-top: 20px;">

          <a href="{{ url_for('auth.setupProfilePic') }}">
            <img src="{{ url_for('static', filename='images/icons8/back.png') }}" alt="back" class="SetupBack">
          </a>
        
          <p >
            Go back
          </p>
        
        </div>
          <p class="steps">Step 2 of 2</p>
          <p class="stepdesc">Change your password</p>

           <!-- Submits the form via POST request to the change password route -->
        <form method="POST" action="{{ url_for('auth.change_password') }}" autocomplete="off">
      
          <!-- Hidden tag to prevent CSRF attacks -->
          {{ form.hidden_tag() }}

          <!-- Label and input field for New Password -->
          <div class="changepassword">
            <label for="newPassword" class="input-field">New Password</label>
            {{ form.newPassword(class="form-control", id="newPassword", placeholder="Enter new password", autocomplete="new-password") }}
          
          </div>
    
        <!-- Label and input field for Confirm New Password -->
        <div class="changepassword" >
            <label for="confirmPassword" class="input-field">Confirm New Password</label>
            {{ form.confirmPassword(class="form-control", id="confirmPassword", placeholder="Confirm new password", autocomplete="new-password") }}
        </div>

        <ul id="passwordRequirements">
          <li style="text-decoration: underline;"><strong>Password Requirements:</strong></li>
          <li id="minLength" class="requirement">Contain at least 12 characters</li>
          <li id="lowercase" class="requirement">Contain at least 1 lowercase letter</li>
          <li id="uppercase" class="requirement">Contain at least 1 uppercase letter</li>
          <li id="number" class="requirement">Contain at least 1 number</li>
          <li id="specialChar" class="requirement">Contain at least 1 special character</li>
      </ul>

        <div class="button-wrapper" style="padding-top: 1%;">
          <button type="submit" id="verifyButton">Finish</button>
      </div>
      </form>

      </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='passwordrequirements.js') }}"></script>
{% endblock %}