<!-- Extend the base template -->
{% extends 'otpForgetBase.html' %}


<!-- Set page title -->
{% block title %} Reset Your Password {% endblock %}

<!-- Set page content -->
{% block mainContent %}
<div class="container mt-3 OtpForgetContainer">
    <div class="OtpForgetCard">
      <div class="otp-forget-card-content">
        <img src="{{ url_for('static', filename='images/extras/lock.png') }}" alt="otp" style="height: 70px; width:auto; margin-bottom: 20px;">
        <p style="font-size: 30px;">Reset password</p>
        <p style="font-size:15px; color:rgb(255, 255, 255); padding-bottom:30px;">Enter your email below and we will send a link to reset your password! </p>
    <!-- Submits the form via POST request to the forget password route -->
    <form method="POST" action="{{ url_for('auth.forget_password') }}" autocomplete="off">

      <!-- Hidden tag to prevent CSRF attacks -->
      {{ form.hidden_tag() }}

  
      <!-- Label and input field for Email Address -->
      <div class="mb-3">
    
        {{ form.email(class="form-control", id="email", placeholder="Enter email", autocomplete="off") }}
      </div>

      <div class="recaptcha-container">
        <div class="g-recaptcha custom-recaptcha" data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}" data-theme="dark" ></div>

      </div>
      <br>

      <!-- Submit button for the form -->
    <button type="submit" class="button" style="margin-top: 100px;" id="verifyButton">Send</button>
</form>
        
      </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}