<!-- Extend the base template -->


{% extends 'otpForgetBase.html' %}
{% block title %} Reset your password {% endblock %}



<!-- Set page content -->
{% block mainContent %}

<div class=" OtpForgetContainer">
    <div class="OtpForgetCard">
      <div class="otp-forget-card-content">
        <img src="{{ url_for('static', filename='images/extras/lock.png') }}" alt="otp" style="height: 70px; width:auto; margin-bottom: 20px;">
        <p style="font-size: 30px;">Reset password</p>
        <p style="font-size:15px; color:rgb(255, 255, 255); padding-bottom:5px;">Change your password for <span style="  color:#ffff70;">{{ email }}</span></p>
    <!-- Submits the form via POST request to the reset password route -->
    <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}" autocomplete="off">

        <!-- Hidden tag to prevent CSRF attacks -->
        {{ form.hidden_tag() }}

        <!-- Label and readonly input field pre-filled with the user's email -->
    

        <!-- Label and input field for New Password -->
       

        <!-- Label and input field for Confirm New Password -->

        <div>
            <label for="newPassword" style="font-size: 0.7em;">New Password</label>
            {{ form.newPassword(class="form-control", id="newPassword", placeholder="Enter new password", autocomplete="new-password") }}
        </div>

        <div style="margin-bottom: 20px;">
            <label for="confirmPassword" style="font-size: 0.7em;">Confirm New Password</label>
            {{ form.confirmPassword(class="form-control", id="confirmPassword", placeholder="Confirm new password", autocomplete="new-password") }}
            <ul id="passwordRequirements">
                <li style="text-decoration: underline; color:white;"><strong>Password Requirements:</strong></li>
                <li id="minLength" class="requirement">Contain at least 12 characters</li>
                <li id="lowercase" class="requirement">Contain at least 1 lowercase letter</li>
                <li id="uppercase" class="requirement">Contain at least 1 uppercase letter</li>
                <li id="number" class="requirement">Contain at least 1 number</li>
                <li id="specialChar" class="requirement">Contain at least 1 special character</li>
            </ul>
        </div>

        <!-- Submit button for the form -->
        <button type="submit" class="button" id="verifyButton" style="margin-top: 30px;">Reset Password</button>
    </form>

        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='passwordrequirements.js') }}"></script>
{% endblock %}