<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon/favicon.ico">
    <title>Dashboard {{current_user.role}}</title>
</head>
<body>

    <video autoplay muted loop id="dashboardBG">
        <source src="{{ url_for('static', filename='images/bg/dashboardbg.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div id="snackbar">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


   

    
    <nav class="navbar">
        <div class="navbarContent">
            <div class="LogoAndText">
                <img class="navbarLogo" src="{{ url_for('static', filename='images/logo/grumPY.png') }}" alt="Logo">
                <img class="navbarText" src="{{ url_for('static', filename='images/logo/grumPYText.png') }}" alt="Text">
            </div>
            <ul class="navbarList">
                <li class="nav-item">
                    <div id="dashboardNav" class="nav-item-container" style="background-color: var(--color-snackbar-bg); border-radius: 10px;">
                        <img class="nav-icon" src="{{ url_for('static', filename='images/navbar/dashboard.png') }}"  style="width: 50px; height:auto; " alt="Dashboard Icon">
                        <a class="nav-link" href="{{ url_for('student.dashboard') }}">Dashboard</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="rankingNav" class="nav-item-container">
                        <img class="nav-icon" src="{{ url_for('static', filename='images/navbar/ranking.png') }}"  style="width: 50px; height:auto; " alt="Ranking Icon">
                        <a class="nav-link" href="{{ url_for('student.rankings') }}">Ranking</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="modulesNav" class="nav-item-container" >
                        <img class="nav-icon" src="{{ url_for('static', filename='images/navbar/modules.png') }}"  style="width: 50px; height:auto; " alt="Modules Icon">
                        <a class="nav-link" href="{{ url_for('student.modules') }}">Modules</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="QuizNav" class="nav-item-container">
                        <img class="nav-icon" src="{{ url_for('static', filename='images/navbar/quiz.png') }}"  style="width: 50px; height:auto; " alt="Quiz Icon">
                        <a class="nav-link" href="{{ url_for('student.displayQuiz') }}">Quiz</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="LogoutNav" class="nav-item-container">
                        <img class="nav-icon" src="{{ url_for('static', filename='images/navbar/logout.png') }}"  style="width: 50px; height:auto; " alt="Logout Icon">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="stuDashboardContainer">
        <p  class="SDashTitle">
            Dashboard
        </p>
        <a href="{{url_for('student.changePFP')}}">
        <div class="profileDash">
            <label  style="width: 6vmin; height:6vmin;" class="profile-pic"  >
                 <img src="{{ url_for('static', filename='images/pfp/'+ current_user.image_file ) }}" alt="Profile" class="pic" style="width:3vmin; height:auto;">
            </label>
            <span class="profile-name">{{current_user.name}} <br>
            <p style="font-size: 1.5vmin; opacity:0.5; margin:0">{{current_user.role}} from P0{{current_user.classroom_id}}</p>
            <p style="font-size: 1.5vmin; opacity:0.5; margin:0">Last login: {{ current_user.last_login_time }}</p>
        
          </span>
           
        </div>
      </a>
        <div class="PScard-container">
            <div class="card-wrapper">
              
                <div class="cardProgBar">
                  
                        <img class="progimg" src="{{ url_for('static', filename='images/progressbar/' + progbar + '.png') }}" alt="Logo">

          
                </div>
            </div>

       
        </div>
        <div class="MQRcard-container">
            <div class="card-wrapper">
               
                <div class="card-title">Modules</div>
                <div class="cardMQR">
                    <div class="MQCardContent">
                        <table class="table Sdash-table">

                            <tbody style="font-size: 1em;">
                                {% for week in range(1, 9) %}
                                <tr>
                                    <td style="color: white;">Week {{ week }}</td>
                                    <td>
                                        {% if week in completed_modules %}
                                            <p style="color:#32f064;">Completed</p>

                                        {% elif week == current_user.current_module and current_user.current_module <= current_week  %}
                                           <p style=" color:#ffff70;"> Ongoing</p>
                                        {% else %}
                                          <p style="color:#852f23;">  Not Completed</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set module = modules[week - 1] %}
                                        {% if (module.id <= current_user.current_module) and (module.id <= current_week) %}
                                        <img src="{{ url_for('static', filename='images/extras/unlocked.png') }}" alt="Lock Icon">
                                        {% else %}
                                        <img src="{{ url_for('static', filename='images/extras/locked.png') }}" alt="Lock Icon">
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-title">Quiz</div>
                <div class="cardMQR">
                    <div class="MQCardContent">
                        <table class="table Sdash-table">
                             
                            <tbody>
                                {% for week in range(1, 9) %}
                                <tr>
                                    <td style="color: white;">Week {{ week }}</td>
                                    <td>
                                        
                                        {% if week in completed_quizzes %}
                                            <p style="color:#32f064;">Completed</p>

                                        {% elif week == current_user.current_quiz and current_user.current_quiz <= current_week  %}
                                        <p style=" color:#ffff70; "> Ongoing</p>

                                        {% else %}
                                          <p style="color:#852f23;">  Not Completed</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set quizz = quiz[week - 1] %}
                                        {% if (quizz.id <= current_user.current_quiz) and (quizz.id <= current_week) %}
                                        <img src="{{ url_for('static', filename='images/extras/unlocked.png') }}" alt="Lock Icon">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='images/extras/locked.png') }}" alt="Lock Icon">
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-title" style="width: 70%;">
                  Current status 
                  
                </div>
                <div class="cardMQR">
                    <div class="MQCardContent" style="margin: 0; padding: 0; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <!-- Week Number -->
                        <p class="weekNumber" style="font-weight: bold; color:white;">
                            It is currently week {{current_week}}
                        </p>
                        
                        <!-- Progress Message -->
                        <div class="progressMessage">
                            {% if current_week*2 - int(progbar) > 4 %}
                                <p class="statDesc" style="color: #852f23;">You are far behind on the journey.</p>
                            {% elif current_week*2 - int(progbar) > 2 %}
                                <p class="statDesc" style=" color:#ffff70;">You are slightly behind on the journey.</p>
                            {% else %}
                                <p class="statDesc" style="color:#32f064;">You're on track with your journey.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                  

                </div>
            </div>
        </div>
    </div>

    <div id="sess-overlay" class="sess-overlay"></div>
    <div id="reloginModal" class="sess-modal" style="display: none;">
    <div class="sess-modal-content">
        <h2>Your session is about to expire. To continue, please reauthenticate. Thank you.</h2>
        <p id="timerDisplay">You will be logged out in <span id="timer">300</span> seconds.</p> <!-- Timer display -->
        <form id="reauthForm">
            <div>
                <label for="reauthEmail">Email address </label>
                <input type="email" id="reauthEmail" name="email" required autocomplete="off">
            </div>
            <div>
                <label for="reauthPassword">Password</label>
                <input type="password" id="reauthPassword" name="password" required>
            </div>
            <button type="submit">Re-login</button>
            <button type="button" id="logoutButton">Logout</button>
        </form>
    </div>
</div>
    

    <script src="{{ url_for('static', filename='session_relogin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
