{% extends "StaffAdminbase.html" %}

{% block title %}Labsheets for Module {{ module.title }}{% endblock %}
{% block pageTitle %}Labsheets for {{ module.title }} {% endblock %}
{% block goback %}
<a href="{{ url_for('admin.view_modules') }}" style="display: flex; align-items: center; width: fit-content; text-decoration: none;">
   
    <p style="color: #E8E832; margin: 0; margin-left: 0.7vw; font-size: 2vmin;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">&larr; &nbsp; Back to modules</p>
</a>
{% endblock %}
{% block content %}
<div class="roomDetailsCont">

    <ul style="padding-right: 10px ;">
        {% for labsheet in labsheets %}
         
           
                <div class="classroomcard">
               
                <div class="classroomcardContent">
                    <li style="list-style-type:none; ">
                        <h2 style="color: #e7e783;">{{ labsheet.title }}</h2>
                        <p>{{ labsheet.description }}</p>
                        <a href="{{ url_for('admin.edit_labsheet', labsheet_id=labsheet.id) }}" class="addbutton" style="background-color:#ffc107; color:rgb(255, 255, 255)">Edit Labsheet</a>
<!-- Link to add a new question to this labsheet -->
             <a href="{{ url_for('admin.add_question', labsheet_id=labsheet.id) }}" class="addbutton" style="color: rgb(255, 255, 255);">Add Question</a>
                       
                    </li>
                    
                  </div>
                          
                </div>
     
        {% endfor %}
    </ul>

</div>
<style>

    #AmodulesNav{
        background-color: var(--color-snackbar-bg); 
        border-radius: 10px;
    }
</style>

{% endblock %}
